<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Word Brain</title>
    <link href="style/index.css" rel="stylesheet" type="text/css" />
    <script src="dist/bundle.js"></script>
</head>
<body>
    <h1>Word Brain</h1>
    <div id="container">
        <div>Size: 
            <select v-model="cellSize" v-on:change="updateSize">
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
            </select>
        </div>
        <div>Data: <input id="data" type="text" v-model.lazy="cellData" v-on:change="updateCells"></div>
        <div>Word Length: <input type="number" v-model="wordsLength"><input type="button" value="Find" v-on:click="findWords"></div>
        <div id="wordTable">
            <table>
                <tbody>
                    <tr v-for="row in cells"><td v-for="cell in row">{{cell}}</td></tr>
                </tbody>
            </table>
        </div>
        <div>
            <textarea id="words">{{ words.join("\n") }}</textarea>
        </div>
    </div>
</body>
</html>